:root {
  --roxo-escuro: #4b1e6e;
  --roxo-claro: #8884d8;
  --preto: #000000;
  --branco: #ffffff;
  --roxo: #a574f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('./assets/FUNDO.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--branco);
}

header {
  background-color: var(--roxo-escuro);
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

/* Logo de cima*/

.logo {
  height: 3.125rem;
  transition: transform 0.5s
}

.logo:hover{
  transform: scale(1.08);
}

/* Barra de navegação*/

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5625rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 5rem;
  background-color: #2e1148;
  transition: background 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: var(--roxo-claro);
}

main {
  padding: 1.875rem 1.25rem;
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  font-family: 'Georgia', serif;
  margin: 2.5rem 0 1.25rem 0;
  margin-bottom: 2.5rem;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.5rem #000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.card {
  background-color: var(--roxo);
  padding: 0.9375rem;
  border-radius: 1.25rem;
  width: 12.5rem;
  text-align: center;
  box-shadow: 0 0 0.75rem #000;
}

.card img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.1875rem solid white;
  margin-bottom: 0.625rem;
}

.card p {
  margin: 0;
  font-weight: bold;
}

.instagram-link {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  padding: 0.375rem;
  border-radius: 0.5rem;
  background-color: #7707c2;
  transition: background 0.3s;
}

.instagram-link:hover {
  background-color: #ab10b9;
}

.reclame {
  margin: 5rem auto 2.5rem auto; 
  padding: 1.5625rem;
  max-width: 31.25rem;
  text-align: center;
  background: rgba(75, 30, 110, 0.8); 
  border: 0.125rem solid var(--roxo-claro);
  border-radius: 1.25rem;
  box-shadow: 0 0 1.25rem rgba(0,0,0,0.6);
}

.reclame h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  color: var(--roxo-claro); 
  text-shadow: 0.0625rem 0.0625rem 0.375rem #000;
}

.reclame p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--branco);
}

.contato-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--branco);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(135deg, var(--roxo-claro), var(--roxo-escuro));
  transition: transform 0.5s ease, background 0.4s;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.5);
}

.contato-link:hover {
  background: linear-gradient(135deg, var(--roxo-escuro), var(--roxo-claro));
  transform: scale(1.05);
}
