body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cfc8e6; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
}

.container {
  width: 37.5rem;
  height: 21.875rem;
  border-radius: 0.5rem;
  position: relative;
  text-align: center;
  color: white;
  padding: 1.25rem;
}

.logo {
  top: 0.625rem;
  left: 1.25rem;
  height: 2.5rem;
}

.titulo {
  font-size: 4.375rem;
  font-weight: bold;
  color: #a569bd;
  text-shadow: 0.125rem 0.125rem 0.3125rem #000;
  margin-top: 3.75rem;
}

.subtitulo {
  font-size: 1.25rem;
  margin: 0.9375rem 0;
  font-style: italic;
}

.botoes {
  margin-top: 1.25rem;
}

.botoes a {
  display: inline-block;
  text-decoration: none;
  background: #7d3c98;
  color: white;
  padding: 0.625rem 1.5625rem;
  margin: 0 0.625rem;
  border-radius: 1.25rem;
  font-weight: bold;
  transition: 0.3s;
}

.botoes a:hover {
  background: #9b59b6;
}
