:root {
  --cor-fundo: #0c0c1e;
  --cor-primaria: #4b1e6e;
  --cor-caixa1: #3A1977;
  --cor-secundaria: #9e83da;
  --cor-destaque: #a060e8c4;
  --cor-hover: #8884d8;
  --texto-branco: #ffffff;
  --cor-caixa: #6c3ea1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/FUNDO.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: var(--texto-branco);
}

header {
  background-color: var(--cor-primaria);
  padding: 0.625rem 1.25rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

/* Logo de cima*/

.logo {
  height: 3.125rem; 
  transition: transform 0.5s
}

.logo:hover {
  transform: scale(1.08);
}

/* Barra de navegação*/

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5625rem; 
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem; 
  border-radius: 5rem;
  background-color: #2e1148;
  transition: background 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: var(--cor-hover);
}

.titulo {
  text-align: center;
  font-size: 3rem; 
  font-family: 'Georgia', serif;
  margin: 5.625rem 0 1.25rem 0; 
  margin-bottom: 2.5rem; 
  color: white;
  text-shadow: 0.125rem 0.125rem 0.5rem #000; 
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem; 
  max-width: 62.5rem; 
  margin: 2.5rem auto; 
  padding: 0 1.25rem; 
  flex-wrap: wrap;
}

.conteudo.invertido {
  flex-direction: row-reverse;
}

.caixa-texto {
  background-color: var(--cor-caixa);
  padding: 1.25rem; 
  border-radius: 0.9375rem; 
  max-width: 28.125rem; 
  box-shadow: 0 0 0.625rem #000;
  flex: 1;
}

.caixa-texto h2 {
  font-size: 1.3em;
  margin-bottom: 0.625rem; 
  font-style: italic;
}

.imagem {
  max-width: 21.875rem; 
  border-radius: 0.75rem; 
  box-shadow: 0 0 0.625rem #000; 
}

.box-informativa {
  background-color: var(--cor-caixa);
  padding: 1.25rem; 
  margin: 1.875rem auto;
  max-width: 50rem; 
  border-radius: 0.9375rem; 
  text-align: center;
  box-shadow: 0 0 0.625rem #000; 
}

.box-informativa.destaque {
  background-color: var(--cor-secundaria);
}

/* Botão de voltar */

footer {
  position: fixed;
  bottom: 1.25rem; 
  right: 1.25rem; 
}

/* Botão de voltar */

.botao-voltar {
  background-color: var(--texto-branco);
  color: var(--cor-caixa);
  font-size: 1.5rem; 
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 0 0.625rem #000; 
  transition: transform 0.3s;
}

/* Botão de voltar */

.botao-voltar:hover {
  transform: scale(1.1);
}
