* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: lora, sans-serif;
}

body {
    background: url('./assets/FUNDO.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1.25rem; 
}

h1, h2, h3 {
    font-family: 'Lora', 'Times New Roman', serif;
    font-weight: 4.3rem;
    font-style: italic; 
    margin-bottom: 0.5rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

.Sistema button {
    background: #7b3fc5;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 0.9rem;   
    transition: transform 0.3s, background 0.3s;
}

.Sistema button:hover {
    background: #a164f2;
    transform: scale(1.08);
}

.saturno {
    text-align: center;
    margin: 3rem 0;
}
  
.saturno img {
    width: 40rem;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.saturno img:hover {
    transform: scale(1.08);
}

.saturno h2 {
    margin-top: 0.8rem;
    font-style: italic;
    font-size: 1.8rem;
}

.parte-direita, 
.parte-esquerda {
    max-width: 20rem;
    margin: 5rem 6rem;
    position: relative; 
}

.titulo {
    background: #4b2c82;
    padding: 0.6rem 1.2rem;
    border-radius: 0.8rem;
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: -1.2rem; 
}

.paragrafo {
    background: #8F85D8;
    padding: 0.8rem 1rem;
    border-radius: 0.9rem;
    color: #ddd;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.parte-direita {
    max-width: 28rem;
    margin: 1.5rem 25rem 1.5rem auto;
    position: relative;
}

.parte-direita .titulo {
    right: 1rem; 
}

.parte-esquerda {
    max-width: 28rem;
    margin: 1.5rem auto 1.5rem 25rem;
    position: relative;
}

.parte-esquerda .titulo {
    left: 1rem; 
}
