:root {
    --cor-fundo: #0c0c1e;
    --cor-primaria: #4b1e6e;
    --cor-caixa: #6c3ea1;
    --cor-secundaria: #9e83da;
    --cor-hover: #8884d8;
    --texto-branco: #ffffff;
  }
  
  body {
    background: url('./assets/FUNDO.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: var(--texto-branco);
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #2e1148;
    transition: background 0.3s;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    background-color: var(--cor-hover);
  }
  
  .sistema {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 60px;
  }
  
  .planeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .planeta-esquerdo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1.5rem;
  }

  .btn {
    background-color: #7d4abf;
    color: white;
    border: none;
    border-radius: 1.25rem;    
    cursor: pointer;
    padding: 0.5rem 5rem;
    font-size: 1.5rem;      /* aumenta o texto */
    border-radius: 25px;
  }

  .mercurio {
    width: 48rem; /* 150px */
    height: auto;
  }
  
  .planeta img {
    max-width: 180px;
    transition: transform 0.3s;
  }
  
  .planeta img:hover {
    transform: scale(1.08);
  }
  
  .planeta button {
    margin-top: 10px;
    background-color: var(--cor-caixa);
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 0 8px #ffffff;
  }

  .planeta button,
.botao-voltar {
  color: var(--texto-branco); 
  font-weight: normal; 
}

  
  footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  
  .botao-voltar {
    background-color: var(--texto-branco);
    color: var(--cor-caixa);
    font-size: 24px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s;
  }
  
  .botao-voltar:hover {
    transform: scale(1.1);
  }
  