:root {
  --cor-principal: #532B77;
  --cor-caixa-texto: #6c3ea1;
  --cor-menu-bg: #532B77;
  --cor-texto: #ffffff;
  --cor-link-bg: #333;
  --cor-borda-mapa: #ccc;
  --cor-hover: #8884d8;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('./assets/FUNDO.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

header {
  background-color: var(--cor-menu-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem; 
}

/* Logo de cima*/

.logo-header {
  height: 3.125rem; 
  transition: transform 0.5s;
}

.logo-intro {
  width: 43.75rem; 
  display: block;
  margin: -18.75rem auto 0 auto; 
}

/* Barra de navegação*/

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5625rem; 
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem; 
  border-radius: 5rem;
  background-color: #2e1148;
  transition: background 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: var(--cor-hover);
}

.intro {
  text-align: center;
  padding: 9.375rem 1.25rem;
  margin: 0.625rem; 
}

.astronauta {
  margin-bottom: 3.125rem; 
  margin-left: -93.75rem; 
}

.titulo {
  font-size: 3rem; 
  font-family: 'Orbitron', sans-serif;
}

.btn-section {
  text-align: center;
  margin-top: -5.625rem; 
  margin-bottom: 43.75rem; 
}

.btn-mapas {
  background: linear-gradient(135deg, var(--cor-menu-bg), var(--cor-hover));
  transition: transform 0.5s ease, background 0.4s;
  border: none;
  padding: 0.625rem 3.125rem; 
  font-size: 1.5625rem; 
  color: var(--cor-texto);
  border-radius: 0.625rem; 
  cursor: pointer;
}

.btn-mapas:hover {
  background: linear-gradient(135deg, var(--cor-hover), var(--cor-caixa-texto));
  transform: scale(1.05);
}

.mapa-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem; 
  flex-wrap: wrap;
  max-width: 68.75rem; 
  margin: 6.25rem auto 0 auto; 
  padding: 0 1.25rem; 
}

.reverse {
  flex-direction: row-reverse;
}

.caixa-texto {
  background-color: var(--cor-caixa-texto);
  padding: 1.25rem; 
  border-radius: 0.75rem; 
  width: 45%;
}

.mapa-img {
  width: 20%;
  border-radius: 50%;
  border: 0.1875rem solid var(--cor-borda-mapa); 
}

/* Botão de voltar */

footer {
  position: fixed;
  bottom: 1.25rem; 
  right: 1.25rem; 
}

/* Botão de voltar */

.botao-voltar {
  background-color: var(--cor-texto);
  color: var(--cor-caixa-texto);
  font-size: 1.5rem; 
  padding: 0.5rem 0.75rem; 
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 0 0.625rem #000; 
  transition: transform 0.3s;
}

/* Botão de voltar */

.botao-voltar:hover {
  background: #a164f2;
  transform: scale(1.1);
}
